.fail_baro {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/baro.svg");
}
.fail_chello {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/chello.svg");
}
.fail_millo {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/millo.svg");
}
.fail_jack {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/jack.svg");
}
.fail_blanc {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/blanc.svg");
}
.fail_sheila {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/sheila.svg");
}
.fail_tori {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/tori.svg");
}
.fail_roro {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/roro.svg");
}
.fail_green_thumb {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/green_thumb.svg");
}
.fail_leoni {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/leoni.svg");
}
.fail_goma {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/goma.svg");
}
.fail_gino {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/gino.svg");
}
.fail_edmond {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/edmond.svg");
}
.fail_dodo {
  background-image: url("src/quiz/images/quiz_ending/unit_try_again/dodo.svg");
}
