.pass_baro {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/baro.svg");
}
.pass_chello {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/chello.svg");
}
.pass_millo {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/millo.svg");
}
.pass_jack {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/jack.svg");
}
.pass_blanc {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/blanc.svg");
}
.pass_sheila {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/sheila.svg");
}
.pass_tori {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/tori.svg");
}
.pass_roro {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/roro.svg");
}
.pass_green_thumb {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/green_thumb.svg");
}
.pass_leoni {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/leoni.svg");
}
.pass_goma {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/goma.svg");
}
.pass_gino {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/gino.svg");
}
.pass_edmond {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/edmond.svg");
}
.pass_dodo {
  background-image: url("src/quiz/images/quiz_ending/unit_good_job/dodo.svg");
}
